<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/create" method="post">
        {% csrf_token %}
        <div class="row">
            <label for="first_name" class="the_label">Your Name:</label>
            <input type="text" class="the_input" name="first_name">
        </div>

        <div class="row">
            <!-- <label for="dojo_location" class="the_label">Dojo Location:</label>
            <input type="text" class="the_input" name="dojo_location"> -->
            <label for="dojo_location">Favorite Language</label>
            <select name="dojo_location" class="the_input_selection" id="dojo_location">
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
                <option value="Twin Cities">Twin Cities</option>
            </select>
        </div>

        <div class="row">
            <!-- <label for="favorite_language" class="the_label">Favorite Language:</label>
            <input type="text" class="the_input" name="favorite_language"> -->
            <label for="favorite_language">Favorite Language</label>
            <select name="favorite_language" class="the_input_selection" id="favorite_language">
                <option value="Python">Python</option>
                <option value="Pearl">Pearl</option>
                <option value="C++">C++</option>
            </select>
        </div>

        <div class="row">
            <textarea name="comment"></textarea>
            <label for="Comment">Comment</label>
        </div>

        <input type="submit" value="Submit">

    </form>
</body>
</html>