<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h3>Add an Author</h3>

    <Table>
        <thead> 
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
    </thead>

        <tbody>
            {% for author in allAuthors %}
            <tr>
                <td>{{author.id}}</td>
                <td>{{author.firstName}} {{author.lastName}}</td>
                <td><a href="http://localhost:8000/authors/{{author.id}}">View</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </Table>


    <form action="/authors" method="POST">
        {% csrf_token %}
        <label for="firstName" class="the_label">First Name:</label>
        <input type="text" class="the_input" name="firstName" id="firstName">

        <label for="lastName" class="the_label">Last Name:</label>
        <input type="text" class="the_input" name="lastName" id="lastName">
        
        <label for="notes" class="the_label">Notes:</label>
        <input type="text" class="the_input" name="notes" id="notes">

        <button class="btn btn-primary">Add</button>
    </form>
</body>
</html>