

.container {
    width: 965px;
    height: 910px;
    background-color: #1b345d;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.header {
    width: 955px;
    height: 100px;
    background-color: #cf3036;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
}

h1{
    color: #c2d6eb;
}

h2{
    color: #c2d6eb;
}

p{
    color: #c2d6eb;
}

li{
    color: #c2d6eb;
}

a{
    color: #52c1d6;
}

#variable{
    color: #556fff;
}

.container2 {
    height: 750px;
    width: 970px;
    display: flex;
    justify-content: space-between;
}
.main-content {
    width: 655px;
    height: 704px;
    background-color: #0e1822;
    border-radius: 10px;
    padding: 10px;
}

.navigation {
    width: 227px;
    height: 224px;
    /* display: inline-block; */
    /* vertical-align: top; */
    background-color: #297d8c;
    border-radius: 10px;
}

#Home {
    list-style-type: none;
    padding-inline-start: 13px;
}

#second-list{
    list-style-type: disc;
    padding-inline-start: 22px;
}

#third-list{
    list-style-type: circle;
}

.footer {
    width: 970px;
    height: 50px;
    background-color: #5d6773;
    border-radius: 10px;
}
#paragraph-ftr{
    padding-inline-start: 10px;
}