<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <h3>Registration</h3>
    <form action="/register" method="POST">
        {% csrf_token %}
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName">

        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName">

        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <label for="passwordConfirm">Confirm PW</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm">

        <button class="btn btn-primary">Register</button>
    </form>

    <h3>Login</h3>
    <form action="/login" method="POST">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="text" name="email" id="email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <button class="btn btn-primary">Login</button>
    </form>


</body>

</html>